@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #363636;
    background: -moz-linear-gradient(-45deg, #363636 8%, #000000 83%);
    background: -webkit-linear-gradient(-45deg, #363636 8%, #000000 83%);
    background: linear-gradient(135deg, #363636 8%, #000000 83%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#000000', GradientType=1);
    background-size: cover;
    background-position: center;
}


/***************************************************************************** HEADER *****************************************************************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    position: relative;
    margin-left: -50px;
    width: 200px;
    height: 69.58px;
}

.navbar a {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffff;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}


/***************************************************************************** BUSCA *****************************************************************************/

.container-index-btns {
    position: fixed;
    margin-top: 80px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.dept-btn {
    background-color: #dc143c;
    color: white; 
    padding: 14px 26px; 
    margin-left: -50px;
    font-size: 20px; 
    font-weight: lighter;
    margin-top: 15px;
    border: none; 
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 0 25px 0 rgba(220, 20, 60, 0.7), 
                0 20px 25px 0 rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}
.dept-btn:hover {
    background-color: rgb(124, 30, 30); 
    box-shadow: 0 0 30px 0 rgba(124, 30, 30, 0.8), 
                0 25px 30px 0 rgba(0, 0, 0, 0.3); 
    transform: scale(1.02); 
}
.dept-btn:active {
    background-color: rgb(124, 30, 30); 
    box-shadow: 0 0 20px 0 rgba(124, 30, 30, 0.6), 
                0 15px 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1); 
}

.container {
    position: absolute;
    margin-right: 50px;
    top: 0;
    left: 85.7%;
    bottom: 0;
    width: 300px;
    height: 100px;
    .search {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background: #dc143c;
      border-radius: 50%;
      transition: all 1s; 
      z-index: 4;
      box-shadow: 0 0 25px 0 rgba(220, 20, 60, 0.7),
                0 20px 25px 0 rgba(0, 0, 0, 0.2); 
  
      &:hover {
        cursor: pointer;
      }
      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: white;
        transform: rotate(45deg);
        transition: all 0.5s; 
      }
      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all 0.5s; 
      }
    }
    input {
      font-family: 'Inconsolata', monospace;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50px; 
      height: 50px;
      outline: none;
      border: none;
      background: crimson;
      color: white;
      text-shadow: 0 0 10px crimson;
      padding: 0 80px 0 20px;
      border-radius: 30px;
      box-shadow: 0 0 25px 0 crimson,
                  0 20px 25px 0 rgba(0, 0, 0, 0.2);
      transition: all 1s; 
      opacity: 0; 
      z-index: 5;
      font-weight: bolder;
      letter-spacing: 0.1em;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        width: 300px; 
        opacity: 1;
        cursor: text;
        transform: translateX(-150px); 
      }
      &:focus ~ .search {
        right: -250px; 
        transform: translateX(-150px); 
        background: #000000; 
        z-index: 6; 
        &::before {
          top: 0;
          left: 0;
          width: 25px; 
        }
        &::after {
          top: 0;
          left: 0;
          width: 25px;
          height: 2px;
          border: none;
          background: white;
          border-radius: 0%; 
          transform: rotate(-45deg); 
        }
      }
      &::placeholder {
        color: white;
        opacity: 0.5;
        font-weight: bolder;
      }
    }
}
  

/***************************************************************************** CORPO *****************************************************************************/

body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 12px;
}
img{
    width: 100%;
    display: block;
    border-radius: 8px;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: crimson;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: crimson;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #fff;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}

.product-price-new {
  position: absolute;
  background: #11e95b;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  border-radius: 3px;
  margin-top: 2px;
  margin-left: -5px;
  margin-bottom: 50px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price b {
  margin-left: 5px;
}

.last-price{
    color: #f64749;
    text-decoration: line-through;
    margin-bottom: -10px;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    padding-top: 50px;
    text-transform: capitalize;
    color: rgb(157, 14, 43);
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    font-weight: bold;
    color: #fff;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
    color: #fff;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    border: none; 
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 0 25px 0 rgba(220, 20, 60, 0.7), 
                0 20px 25px 0 rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:last-of-type{
    background: crimson;
    font-weight: bold;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
    color: #fff;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #ffffff;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #ffffff;
    border-color: transparent;
    color: crimson;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}








/***************************************************************************** FOOTER *****************************************************************************/


section.footer {
    width: 100%;
    margin-top: 800PX;
    display: inline-block;
    background: #dc143c;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }

  .logo-footer {
    position: relative;
    margin-left: 0;
    width: 200px;
    height: 69.58px;
}
  
  .footer-distributed{
    background: #dc143c;
    background: -moz-linear-gradient(-45deg, #dc143c 8%, #871b20 83%);
    background: -webkit-linear-gradient(-45deg, #dc143c 8%, #871b20 83%);
    background: linear-gradient(135deg, #dc143c 8%, #871b20 83%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dc143c', endColorstr='#871b20', GradientType=1);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 25px 0 rgba(220, 20, 60, 0.7), 
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* ESQUERDA */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  rgb(3, 32, 198);
  }
  
  /* LINKS */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* MEIO */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  BLACK;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* DIREITA */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  WHITE;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  BLACK;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  