* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img#logo {
    width: 70%;
}


header{
    height: 18%;
    width: 100%;
    padding: 5px 60px 5px;
    background: rgb(3, 55, 85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header.index{
    position: fixed;
    top: 0;
    left: 0;
}

body.index {
    margin-top: 13%;
}


.container-search {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.container-index-btns {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.container-products {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.container-in-products {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    
}

.line {
    width: 95%;
    background-color: black;
    height: 1px;
    margin: auto;
}

.filter-body {
    flex: 1;
    background-color: #e0e0e0;
    padding: 10px;
    margin-right: 10px;
    margin-top: 100px;
    border-radius: 5px;
}


.src-body {
    width: 80%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

  
.btn-carrinho{
    width: 200px;
    height: 70px;
    background: rgb(37, 37, 155);
    border: 2px solid #ffff;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: #ffff;
    margin-left: 60px;
    font-weight: 500;
    transition: .5s;
}
  
.btn-carrinho:hover {
    background: #ffff;
    color: rgb(37, 37, 155);
}
  
.btn-login{
    position: relative;
    font-size: 1.3em;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
}

.btn-login::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}
  
.btn-login:hover::after {
    transform: scaleX(1);
}

.search-box {
    font-size: 1.4em;
    width: 80%;
    margin-bottom: 10px
}


.search-button {
    background-color: rgb(37, 37, 155);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.search-button:hover {
    background-color: rgb(30, 30, 124);
    transform: scale(1.05);
}

.search-button:active {
    background-color: rgb(30, 30, 124);
    transform: scale(1);
}


.dept-btn {
    background-color: rgb(37, 37, 155);
    color: white;
    padding: 14px 26px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dept-btn:hover {
    background-color: rgb(30, 30, 124);
    transform: scale(1.05);
}

.dept-btn:active {
    background-color: rgb(30, 30, 124);
    transform: scale(1);
}


.filter-title {
    font-weight: normal;
    font-size: 1.3em;
    margin-top: 5px;
    margin-left: 18px;
    margin-bottom: 5px;
}

.filter-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.filter-name {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3#errorValue {
    font-weight: normal;
    font-size: 1em;
}

label.productSearch {
    font-size: 0.95em;
}

h2.titulo-aba {
    font-weight: normal;
    font-size: 1.5em;
    margin-left: 5%;
}



.product-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    height: 250px;
    width: 250px;
    border-radius: 5px;
}
  
.product-btn img {
    height: 150px;
    width: auto;
}
  
.product-btn span {
    margin-top: 20px;
    font-size: 1.3em;
    color: blue;
    font-weight: bold;
}

.product-btn:hover {
    background-color: #e0e0e0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.product-btn:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.product-btn:hover span {
    color: darkblue;
    transition: color 0.3s ease;
}