<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Carrinho</title>
</head>
<body>
    <section class="header1">
        <header class="header">
            <a href="/"><img  class="logo" src="/imgs/logo.png"></a>
    
            <nav class="navbar">
                <a href="/login" class="btn-perfil">Perfil</a>
                <a href="#" class="btn-contato">Contato</a>
                <a href="#" class="btn-favoritos">Favoritos</a>
                <a href="/usuario/carrinho" class="btn-carrinho">Carrinho</a>
            </nav>
        </header>
    
        <div>
            
            <div class="container-index-btns">
    
                    <button class="dept-btn">Departamentosㅤ☰</button>
    
                    <div class="container">
                        <button class="search" onclick="window.location.href='/busca'"></button>
                      </div>
    
    
            </div>
        </div>
      </section>

      <main>
        <h1>Meu Carrinho</h1>
        <div class="cart-container">
            <!-- Área de produtos -->
            <div class="cart-items">
                <div class="item">
                    <img src="https://images9.kabum.com.br/produtos/fotos/sync_mirakl/592519/PC-Gamer-Blue-PC-AMD-Ryzen-5-5600GT-RAM-16GB-SSD-480GB-DDR4-Vega-7-Fonte-500W_1726696730_g.jpg" alt="Produto">
                    <div class="item-info">
                        <h2 style="color: white;">Computador Gamer</h2>
                        <p style="color: white;">Computador processador AMD Ryzen 5 5600GT, 16GB de RAM, SSD 480GB</p>
                        <p style="color: white;"> Preço: R$ 1.990,00</p>
                    </div>
                    <div class="item-actions">
                        <button>-</button>
                        <span style="color: white;">1</span>
                        <button>+</button>
                        <button style="color: white;">Remover</button>
                    </div>
                </div>
            </div>
            <!-- Resumo -->
            <div class="cart-summary">
                <h2 style="color: white;">Resumo</h2>
                <p style="color: white;">Subtotal: R$ 2.578,00</p>
                <p style="color: white;">Desconto: R$ 588,00</p>
                <p style="color: white;"><strong>Total: R$ 1.990,00</strong></p>
                <button style="color: white;">Finalizar Pedido</button>
            </div>
        </div>
    </main>

      
</body>
</html>