@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #363636;
    background: -moz-linear-gradient(-45deg, #363636 8%, #000000 83%);
    background: -webkit-linear-gradient(-45deg, #363636 8%, #000000 83%);
    background: linear-gradient(135deg, #363636 8%, #000000 83%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#000000', GradientType=1);
    background-size: cover;
    background-position: center;
}


/***************************************************************************** HEADER *****************************************************************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header1{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    margin-left: -50px;
    width: 200px;
    height: 69.58px;
}

.navbar a {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffff;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}


/***************************************************************************** BUSCA *****************************************************************************/

.container-index-btns {
    position: fixed;
    margin-top: 80px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.dept-btn {
    background-color: #dc143c;
    color: white; 
    padding: 14px 26px; 
    margin-left: -50px;
    font-size: 20px; 
    font-weight: lighter;
    margin-top: 15px;
    border: none; 
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 0 25px 0 rgba(220, 20, 60, 0.7), 
                0 20px 25px 0 rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}
.dept-btn:hover {
    background-color: rgb(124, 30, 30); 
    box-shadow: 0 0 30px 0 rgba(124, 30, 30, 0.8), 
                0 25px 30px 0 rgba(0, 0, 0, 0.3); 
    transform: scale(1.02); 
}
.dept-btn:active {
    background-color: rgb(124, 30, 30); 
    box-shadow: 0 0 20px 0 rgba(124, 30, 30, 0.6), 
                0 15px 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1); 
}

.container {
  position: absolute;
  margin-right: 50px;
  top: 0;
  left: 85.7%;
  bottom: 0;
  width: 300px;
  height: 100px;
}

.search {
  background-color: #dc143c;
  color: white; 
  padding: 32px 32px; 
  margin-left: 118px;
  font-size: 2px; 
  font-weight: lighter;
  margin-top: 17px;
  border: none; 
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 0 25px 0 rgba(220, 20, 60, 0.7), 
              0 20px 25px 0 rgba(0, 0, 0, 0.2); 
  border-radius: 50px;
}

.search:hover {
  background-color: rgb(124, 30, 30); 
  box-shadow: 0 0 30px 0 rgba(124, 30, 30, 0.8), 
              0 25px 30px 0 rgba(0, 0, 0, 0.3); 
  transform: scale(1.02); 
}

.search:active {
  background-color: rgb(124, 30, 30); 
  box-shadow: 0 0 20px 0 rgba(124, 30, 30, 0.6), 
              0 15px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1); 
}

.search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s; 
}

.search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s; 
}
  

/***************************************************************************** CARROSEL *****************************************************************************/

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, img-mobile{
    display: none;
}

.img-desktop{
    height: 75%;
    object-fit: fill;
    
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 43%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #dc143c;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
  
.nav-manual .manual-btn:hover{
    background-color: #dc143c;
}

/***************************************************************************** CORPO *****************************************************************************/

h2.titulo-aba {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 2.5%;
  color: #fff;
}


.line {
  width: 95%;
  background-color: rgb(255, 255, 255);
  height: 1px;
  margin: auto;
}

/************************************** CARD **************************************/

.container-products3 {
  width: 90%;
  margin: auto;
}

.container-in-products3 {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  margin-left: -500px;
  margin-right: -500px;
  justify-content: space-evenly;
  
}

.container-products {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.container2 {
  width: 280px;
  height: 500px;
  margin: 30px auto;
}

.container-in-products {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  
}
  
  .card {
    border-radius: 12px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.452), 
                0 20px 25px 0 rgba(0, 0, 0, 0.2); 
    
    
  }

  .card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .card-head {
    position: relative;
    height: 252px;
    background: #ffffff;
    border-radius: 8px 8px 0 0;
  }
  
  .card-logo {
    width: 55px;
    margin: 20px;
  }
  
  .product-img {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0;
    margin-top: 45px;
    margin-left: 27px;
  }
  
  .product-detail {
    padding: 0 20px;
    font-size: 11px;
    color: #ffffff;
  }
  
  .product-detail h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .back-text {
    display: inline-block;
    font-size: 50px;
    font-weight: 900;
    margin-left: -7px;
    margin-top: -12px;
    opacity: 0.1;
    color: #fff;
  }
  
  .card-body {
    height: 255px;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(to top, rgb(220, 20, 60, 0.8), rgb(95, 10, 27));
  }

  a:link {
    text-decoration: none;
  }
  
  .product-title {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .product-title b {
    font-weight: 900;
    letter-spacing: 0px;
    color: #fff;
  }
  
  .badge {
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 2px;
    top: -2px;
    margin-left: 5px;
  }
  
  .product-caption {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
  }
  
  .product-size h4 {
    font-size: 11px;
    padding: 0 21px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
  }

  .product-price {
    position: absolute;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-weight: 200;
    color: #fff;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
  }
  
  .product-price b {
    margin-left: 5px;
  }
  
/***************************************************************************** FOOTER *****************************************************************************/

  
  section.footer {
    width: 100%;
    display: inline-block;
    background: #dc143c;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
  }

  .logo-footer {
    position: relative;
    margin-left: 0;
    width: 200px;
    height: 69.58px;
}
  
  .footer-distributed{
    background: #dc143c;
    background: -moz-linear-gradient(-45deg, #dc143c 8%, #871b20 83%);
    background: -webkit-linear-gradient(-45deg, #dc143c 8%, #871b20 83%);
    background: linear-gradient(135deg, #dc143c 8%, #871b20 83%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dc143c', endColorstr='#871b20', GradientType=1);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 25px 0 rgba(220, 20, 60, 0.7), 
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* ESQUERDA */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  rgb(3, 32, 198);
  }
  
  /* LINKS */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* MEIO */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  BLACK;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* DIREITA */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  WHITE;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  BLACK;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }

  .homeBtn {
    background-color: blue;
  }
  