<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/produto.css">
    <title>PCStore</title>
</head>

<!----------------------------------HEADER---------------------------------->

<body class="index">

  <section class="header1">
    <header class="header">
        <img  class="logo" src="imgs/logo.png">

        <nav class="navbar">
            <a href="login.html" class="btn-perfil">Perfil</a>
            <a href="#" class="btn-contato">Contato</a>
            <a href="#" class="btn-favoritos">Favoritos</a>
            <a href="carrinho.html" class="btn-carrinho">Carrinho</a>
        </nav>
    </header>

    <div>
        
        <div class="container-index-btns">

                <button class="dept-btn">Departamentosㅤ☰</button>

                <div class="container">
                    <input type="text" placeholder="Search...">
                    <div class="search"></div>
                  </div>


        </div>
    </div>
  </section>



<!----------------------------------CORPO---------------------------------->

  <div class = "card-wrapper">
    <div class = "card">
      <!-- ESQUERDA -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "imgs/monitor1.jpg" alt = "monitor image">
            <img src = "imgs/monitor2.jpg" alt = "monitor image">
            <img src = "imgs/monitor3.jpg" alt = "monitor image">
            <img src = "imgs/monitor4.jpg" alt = "monitor image">
          </div>
        </div>
        <div class = "img-select">
          <div class = "img-item">
            <a href = "#" data-id = "1">
              <img src = "imgs/monitor1.jpg" alt = "monitor image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "2">
              <img src = "imgs/monitor2.jpg" alt = "monitor image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "3">
              <img src = "imgs/monitor3.jpg" alt = "monitor image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "4">
              <img src = "imgs/monitor4.jpg" alt = "monitor image">
            </a>
          </div>
        </div>
      </div>
      <!-- DIREITA-->
      <div class = "product-content">
        <h2 class = "product-title">Monitor Gamer AsRock PG27QFT2A, 27 Pol, IPS, QHD, 1ms, 180Hz</h2>
        <a href = "#" class = "product-link">Marca: AsRock</a>
        <div class = "product-rating">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star-half-alt"></i>
          <span>4.7(21)</span>
        </div>

        <div class = "product-price">
          <p class = "last-price">De: <s>R$800,69</s> por:</p><br>
          <span class="product-price-new">
            R$<b>420,69</b>
          </span>
        </div>
        

        <div class = "product-detail">
          <h2>Descrição: </h2>
          <p>Monitor Gamer AsRock PG27QFT2A, 27 Pol, IPS, QHD, 1ms, 180Hz, Wifi, FreeSync, HDMI/DP, PG27QFT2A</p>
          <p>O Monitor Gamer AsRock é um modelo avançado desenvolvido para oferecer uma experiência de jogo imersiva e fluida, com especificações que atendem às necessidades de jogadores que buscam alto desempenho.</p>
          <ul>
            <li>Cor: <span>Preto</span></li>
            <li>Disponibilidade: <span>em estoque</span></li>
            <li>Categoria: <span>Monitores</span></li>

          </ul>
        </div>

        <div class = "purchase-info">
          <input type = "number" min = "0" value = "1">
          <button type = "button" class = "btn">
            Adicionar ao carrinho <i class = "fas fa-shopping-cart"></i>
          </button>

        </div>

        <div class = "social-links">
          <p>Compartilhar: </p>
          <a href = "#">
            <i class = "fab fa-facebook-f"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-twitter"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-instagram"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-whatsapp"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>

  
  <script src="Script/script.js"></script>
  <script>
    document.body.style.zoom = "75%";
</script>
  



<!----------------------------------FOOTER------------------------------>

<footer class="footer-distributed">

    <div class="footer-left">

      <img  class="logo-footer" src="imgs/logo.png">

      <p class="footer-links">
        <a href="#" class="link-1">Home</a>
        
        <a href="#">Blog</a>
      
        <a href="#">Pricing</a>
      
        <a href="#">Sobre</a>
        
        <a href="#">Faq</a>
        
        <a href="#">Contato</a>
      </p>

      <p class="footer-company-name">PCStore© 2024</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Av. Victor Barreto, 2288 - Centro</span> Canoas - RS, 92010-000</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+55 (51) 99999-9999</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@pcstore.com.br">support@pcstore.com.br</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>Sobre nós</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

    <script src="jquery.js"></script>
    <script language="javascript" src="script.js"></script>
  </footer>

</body>
</html>



